name: Build

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: patchman

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    strategy:
      matrix:
        platform: [linux/amd64, linux/arm64]
    outputs:
      meta_json: ${{ steps.meta.outputs.json }}
    steps:
    - uses: actions/checkout@v4

    - uses: docker/setup-qemu-action@v3
      with:
        platforms: ${{ matrix.platform }}

    - uses: docker/setup-buildx-action@v3

    - name: Login to GHCR
      uses: docker/login-action@v3
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Parse Patchman version
      run: |
        echo "VERSION=$(cat Dockerfile | grep 'ARG PATCHMAN_VERSION' | sed -r 's/.*="(.*)"/\1/')" >> $GITHUB_ENV

    - name: Extract branch name
      id: extract_branch
      run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT

    - uses: docker/metadata-action@v5
      id: meta
      with:
        images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
        tags: |
            type=semver,pattern={{version}},value=${{ env.VERSION }},enable={{is_default_branch}}
            type=semver,pattern={{major}}.{{minor}},value=${{ env.VERSION }},enable={{is_default_branch}}
            type=semver,pattern={{major}},value=${{ env.VERSION }},enable={{is_default_branch}}
            type=ref,event=pr

    - name: Build and push image
      uses: docker/build-push-action@v6
      id: build
      with:
        # Push image without tags (i.e. digest only)
        outputs: type=image,name=${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }},push-by-digest=true,name-canonical=true,push=true
        # Specifying tags here causes 'can't push tagged ref ghcr.io/tigattack/patchman:<tag> by digest'
        # tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        annotations: ${{ steps.meta.outputs.annotations }}
        platforms: ${{ matrix.platform }}
        cache-from:
          type=gha,scope=buildkit-${{ steps.extract_branch.outputs.branch }}-${{ matrix.platform }}
          type=gha,scope=buildkit-main-${{ matrix.platform }}
        cache-to: type=gha,scope=buildkit-${{ steps.extract_branch.outputs.branch }}-${{ matrix.platform }},mode=max
        provenance: false

    - name: Test run Docker Compose
      uses: ElParking/docker-compose-action@1.4.5
      id: test
      with:
        compose-file: .github/test/docker-compose.yml
        down-flags: "--volumes"
      env:
        IMAGE: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}@${{ steps.build.outputs.digest }}
        IMAGE_PLATFORM: ${{ matrix.platform }}
        PWD: ${{ github.workspace }}/.github/test

    - name: Print Docker Compose logs
      if: always() && (steps.test.outcome == 'failure')
      env:
        IMAGE: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}@${{ steps.build.outputs.digest }}
        IMAGE_PLATFORM: ${{ matrix.platform }}
      run: |
        cd .github/test
        docker compose ps -a
        docker compose logs -t --tail=all

    - name: Export image digest
      run: |
        mkdir -p /tmp/digests
        digest="${{ steps.build.outputs.digest }}"
        touch "/tmp/digests/${digest#sha256:}"

    - name: Get platform name with safe characters
      run: |
        echo "PLATFORM_SUBST=$(sed 's/\//_/' <<< ${{ matrix.platform }})" >> $GITHUB_ENV

    - name: Upload image digest
      uses: actions/upload-artifact@v4
      with:
        name: digests-${{ env.PLATFORM_SUBST }}
        path: /tmp/digests/*
        if-no-files-found: error
        retention-days: 1

  # dedicated manifest merge job which runs after all platform specific build jobs are finished
  # see https://docs.docker.com/build/ci/github-actions/multi-platform/
  # see https://github.com/docker/build-push-action/issues/846
  merge-push-manifests:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Download linux/amd64 image digests
        uses: actions/download-artifact@v4
        with:
          name: digests-linux_amd64
          path: /tmp/digests

      - name: Download linux/arm64 image digests
        uses: actions/download-artifact@v4
        with:
          name: digests-linux_arm64
          path: /tmp/digests

      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
    
      - name: Create manifest list, push, and inspect image
        working-directory: /tmp/digests
        # Should add manifest annotations when https://github.com/docker/buildx/issues/2148 is resolved.
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< '${{ needs.build.outputs.meta_json }}') \
            $(printf '${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}@sha256:%s ' *)
          docker buildx imagetools inspect $(echo '${{ needs.build.outputs.meta_json }}' | jq -r '.tags[0]')
